---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav class="mb-4 text-neutral-800">
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
  </nav>
</header>
